template {
    margin: 0;
}

.decorator-wrapper .sticky-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.decorator-wrapper .sticky-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .decorator-wrapper .header-linje {
        height: 106px;
    }
}

.decorator-wrapper .header-linje {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px #C6C2BF solid;
    background-color: white;
    position: relative;
}

.decorator-wrapper .header-linje__elementer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.decorator-wrapper * {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .decorator-wrapper .media-tablet-desktop {
        display: initial !important;
    }
}

/*MENYLINJE*/

@media (min-width: 768px) {
    .decorator-wrapper .header-linje .nav-logo-lenke, .decorator-wrapper .header-linje .hovedmeny__knapp, .decorator-wrapper .header-linje .desktop-sok-dropdown__knapp {
        margin-left: 2rem;
    }
}

@media (min-width: 768px) {
    .decorator-wrapper .header-linje__elementer {
        max-width: 1440px;
    }
}

/*NAV LOGO */

@media (min-width: 768px) {
    .decorator-wrapper .header-linje .nav-logo-lenke {
        width: 100px;
        padding: 8px;
        margin-left: calc(3rem - 8px);
        margin-right: -8px;
    }
}

.decorator-wrapper .nav-logo-lenke {
    display: flex;
}

.decorator-wrapper .header-linje__spacer {
    flex-grow: 1;
    flex-shrink: 0;
}