/*.decorator-wrapper .menylinje-knapp {
    background-color: white;
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 2px;
    height: 45px;
    display: flex;
    align-items: center;
    color: #0067C5;
    padding: 4px 12px;
}

.decorator-wrapper .menylinje-knapp__tekst {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .decorator-wrapper .header-linje__elementer {
        max-width: 1440px;
    }
}

.decorator-wrapper .hamburger-ikon {
    width: 28px;
    height: 24px;
    padding: 0;
    position: relative;
    margin-right: 0.5em;
    display: block;
}

.decorator-wrapper .hamburger-ikon__topp {
    width: 28px;
    height: 3px;
    background-color: #0067C5;
    position: absolute;
    left: 0;
    transition: all 0.35s ease-in-out;
    top: 2px;
}

.decorator-wrapper .hamburger-ikon__topp--open {
    width: 32px;
    -webkit-transform: translateY(8px) rotateZ(-135deg) scale(0.8);
    transform: translateY(8px) rotateZ(-135deg) scale(0.8);
}

.decorator-wrapper .hamburger-ikon__midt {
    width: 28px;
    height: 3px;
    background-color: #0067C5;
    position: absolute;
    left: 0;
    transition: all 0.35s ease-in-out;
    top: 10px;
}

.decorator-wrapper .hamburger-ikon__midt--open {
    -webkit-transform: rotateZ(-180deg) scale(0);
    transform: rotateZ(-180deg) scale(0);
}

.decorator-wrapper .hamburger-ikon__bunn {
    width: 28px;
    height: 3px;
    background-color: #0067C5;
    position: absolute;
    left: 0;
    transition: all 0.35s ease-in-out;
    top: 18px;
}

.decorator-wrapper .hamburger-ikon__bunn--open {
    width: 32px;
    -webkit-transform: translateY(-8px) rotateZ(-225deg) scale(0.8);
    transform: translateY(-8px) rotateZ(-225deg) scale(0.8);
} */

/************************************************/

/*.decorator-wrapper .ekspanderbar__container {
    position: absolute;
    width: 100%;
}

.decorator-wrapper .ekspanderbar__innhold-wrapper {
    z-index: 1;
    width: 100%;
    visibility: hidden;
    transition-timing-function: ease-in;
}

.decorator-wrapper .ekspanderbar__innhold-wrapper--active {
    visibility: visible;
    z-index: 1001;
    transition-timing-function: ease-in-out;
}

.decorator-wrapper .ekspanderbar__innhold {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 768px) {
    .decorator-wrapper .ekspanderbar__container {
        max-width: 1440px;
        top: calc(106px - 2px);
        left: 0;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: white;
        transition-duration: 0.4s;
        transition-property: max-height, visibility, opacity;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper--active {
        max-height: 100rem;
        opacity: 1;
        transition-duration: 0.6s;
        transition-property: max-height, visibility;
    }
    .decorator-wrapper .ekspanderbar__innhold {
        padding: 0.5rem 3rem 2rem 3rem;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .decorator-wrapper .ekspanderbar__innhold {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) and (max-height: 880px), (min-width: 768px) and (max-width: 1024px) {
    .decorator-wrapper .ekspanderbar__innhold {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

@media not all and (min-width: 768px) {
    .decorator-wrapper .ekspanderbar__innhold-wrapper {
        position: fixed;
        top: 88px;
        left: -100%;
        height: calc(100% - 88px);
        transition-property: left, visibility;
        transition-duration: 0.25s;
        overflow: auto;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper--active {
        left: 0;
        z-index: 1001;
        transition-duration: 0.4s;
    }
    .decorator-wrapper .ekspanderbar__innhold {
        height: 100%;
    }
}

@media (max-width: 1440px) {
    .decorator-wrapper .desktop-hovedmeny__topp-seksjon {
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 0.75rem;
    }
}

.decorator-wrapper .desktop-hovedmeny__topp-seksjon {
    display: flex;
    flex-direction: column;
    margin: 0 -3rem 1.5rem -3rem;
    padding: 0 3rem;
}

@media (min-width: 30em) {
    .decorator-wrapper .typo-systemtittel {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.decorator-wrapper .typo-systemtittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

@media (max-width: 1440px) {
    .decorator-wrapper .desktop-hovedmeny__topp-seksjon-tittel-decoration {
        display: inline;
        margin: 0;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 400;
        font-weight: bold;
        margin: 0 0.5rem;
    }
}

.decorator-wrapper .dekorator-lenke {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.decorator-wrapper .lenke {
    color: #0067C5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.decorator-wrapper .mosaic-meny__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

@media (max-height: 880px), (max-width: 1024px) {
    .decorator-wrapper .lenkeseksjon {
        margin-bottom: 1rem;
    }
    .decorator-wrapper .lenkeseksjon__tittel {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 600;
        margin-bottom: 0.125rem;
    }
}

.decorator-wrapper .lenkeseksjon {
    margin-bottom: 2rem;
}

.decorator-wrapper .lenkeseksjon__tittel {
    margin-bottom: 0.1875rem;
}

.decorator-wrapper .typo-undertittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
}

.decorator-wrapper .site-skiplinks ul, .decorator-wrapper .siteheader ul, .decorator-wrapper .sitefooter ul {
    list-style: none;
}

.decorator-wrapper .lenkeseksjon__lenker {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-height: 880px), (max-width: 1024px) {
    .decorator-wrapper .lenkeseksjon__lenker .lenke {
        padding: 0.375rem 0;
    }
}

.decorator-wrapper .lenkeseksjon__lenker .lenke {
    padding: 0.5rem 0;
}

.decorator-wrapper .dekorator-lenke {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.decorator-wrapper .lenke {
    color: #0067C5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.decorator-wrapper .chevronlenke {
    text-decoration: none;
}

.decorator-wrapper .chevronlenke:hover {
    text-decoration: underline;
}

.decorator-wrapper a:active, .decorator-wrapper a:hover {
    outline-width: 0;
}

.decorator-wrapper .dekorator-lenke__ikon-container {
    min-width: 1.75rem;
}

.decorator-wrapper .chevronlenke__chevron {
    transition: left 250ms;
    top: -1px;
    left: -2px;
}

.decorator-wrapper .chevronlenke:hover .chevronlenke__chevron {
    left: 0.33em;
}

.decorator-wrapper .chevron--hoyre {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms -webkit-transform;
    transition: 200ms transform;
    transition: 200ms transform, 200ms -webkit-transform;
    vertical-align: middle;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.decorator-wrapper .chevron--hoyre:before {
    -webkit-transform: translateX(2px) rotate(45deg);
    transform: translateX(2px) rotate(45deg);
}

.decorator-wrapper .chevron--hoyre:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}

.decorator-wrapper .chevron--hoyre:after {
    -webkit-transform: translateX(-2px) rotate(-45deg);
    transform: translateX(-2px) rotate(-45deg);
}

.decorator-wrapper .chevron--hoyre:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}

.decorator-wrapper .chevron--hoyre:before, .decorator-wrapper .chevron--hoyre:after {
    transition: 200ms -webkit-transform;
    transition: 200ms transform;
    transition: 200ms transform, 200ms -webkit-transform;
    border-radius: 10px;
}

.decorator-wrapper .app {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #3E3832;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.42857143;
}

.decorator-wrapper .typo-sidetittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.875rem;
    line-height: 2.125rem;
    font-weight: 600;
}

@media (min-width: 30em) {
    .decorator-wrapper .typo-sidetittel {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

.decorator-wrapper .typo-innholdstittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

@media (min-width: 30em) {
    .decorator-wrapper .typo-innholdstittel {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

.decorator-wrapper .typo-systemtittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

@media (min-width: 30em) {
    .decorator-wrapper .typo-systemtittel {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.decorator-wrapper .typo-undertittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
}*/

/*
.decorator-wrapper .typo-systemtittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

.decorator-wrapper .desktop-hovedmeny__topp-seksjon {
    display: flex;
    flex-direction: column;
    margin: 0 -3rem 1.5rem -3rem;
    padding: 0 3rem;
}

.decorator-wrapper .desktop-hovedmeny__topp-seksjon-tittel-decoration {
    display: none;
}

@media (max-width: 1440px) {
    .decorator-wrapper .desktop-hovedmeny__topp-seksjon {
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 0.75rem;
    }
    .decorator-wrapper .desktop-hovedmeny__topp-seksjon-tittel-decoration {
        display: inline;
        margin: 0;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 400;
        font-weight: bold;
        margin: 0 0.5rem;
    }
}

@media (min-width: 30em) {
    .decorator-wrapper .typo-systemtittel {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.decorator-wrapper .ekspanderbar__container {
    position: absolute;
    width: 100%;
}

.decorator-wrapper .ekspanderbar__innhold-wrapper {
    z-index: 1;
    width: 100%;
    visibility: hidden;
    transition-timing-function: ease-in;
}

.decorator-wrapper .ekspanderbar__innhold-wrapper--active {
    visibility: visible;
    z-index: 1001;
    transition-timing-function: ease-in-out;
}

.decorator-wrapper .ekspanderbar__innhold {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 768px) {
    .decorator-wrapper .ekspanderbar__container {
        max-width: 1440px;
        top: calc(106px - 2px);
        left: 0;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: white;
        transition-duration: 0.4s;
        transition-property: max-height, visibility, opacity;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper--active {
        max-height: 100rem;
        opacity: 1;
        transition-duration: 0.6s;
        transition-property: max-height, visibility;
    }
    .decorator-wrapper .ekspanderbar__innhold {
        padding: 0.5rem 3rem 2rem 3rem;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .decorator-wrapper .ekspanderbar__innhold {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) and (max-height: 880px), (max-width: 1024px) {
    .decorator-wrapper .ekspanderbar__innhold {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

@media not all and (min-width: 768px) {
    .decorator-wrapper .ekspanderbar__innhold-wrapper {
        position: fixed;
        top: 88px;
        left: -100%;
        height: calc(100% - 88px);
        transition-property: left, visibility;
        transition-duration: 0.25s;
        overflow: auto;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper--active {
        left: 0;
        z-index: 1001;
        transition-duration: 0.4s;
    }
    .decorator-wrapper .ekspanderbar__innhold {
        height: 100%;
        padding: 0;
    }
}

.decorator-wrapper .mosaic-meny {
    display: flex;
    flex-direction: row;
}

.decorator-wrapper .mosaic-meny__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.decorator-wrapper .mosaic-meny__column:not(:last-child) {
    margin-right: 1rem;
}

.decorator-wrapper .lenkeseksjon {
    margin-bottom: 2rem;
}

@media (max-height: 880px), (max-width: 1024px) {
    .decorator-wrapper .lenkeseksjon {
        margin-bottom: 1rem;
    }
}

.decorator-wrapper .lenkeseksjon__tittel {
    margin-bottom: 0.1875rem;
}

@media (max-height: 880px), (max-width: 1024px) {
    .decorator-wrapper .lenkeseksjon__tittel {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 600;
        margin-bottom: 0.125rem;
    }
}

.decorator-wrapper .lenkeseksjon__lenker {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.decorator-wrapper .lenke {
    color: #0067C5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.decorator-wrapper .lenke:hover, .decorator-wrapper .lenke--hover {
    text-decoration: none;
}

.decorator-wrapper .lenke:focus, .decorator-wrapper .lenke--focus {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #254b6d;
    box-shadow: 0 0 0 2px #254b6d;
}

.decorator-wrapper .lenke:active, .decorator-wrapper .lenke--active {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #254b6d;
    box-shadow: 0 0 0 2px #254b6d;
}

.decorator-wrapper .lenke svg {
    width: 1em;
    height: 1em;
    fill: #0067C5;
    stroke: #0067C5;
    vertical-align: middle;
    position: relative;
    top: -0.125em;
}

.decorator-wrapper .lenke svg+span:not(.sr-only), .decorator-wrapper .lenke span:not(.sr-only)+svg {
    margin-left: 0.25em;
}

.decorator-wrapper .lenke:focus svg {
    fill: white;
    stroke: white;
}

.decorator-wrapper .lenkeseksjon__lenker .lenke {
    padding: 0.5rem 0;
}

@media (max-height: 880px), (max-width: 1024px) {
    .decorator-wrapper .lenkeseksjon__lenker .lenke {
        padding: 0.375rem 0;
    }
}

.decorator-wrapper .dekorator-lenke {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.decorator-wrapper .dekorator-lenke__ikon-container {
    min-width: 1.75rem;
}

.decorator-wrapper .dekorator-lenke:focus .dekorator-lenke__ikon-container svg, .decorator-wrapper .dekorator-lenke:focus .dekorator-lenke__ikon-container g>* {
    fill: white;
}

.decorator-wrapper .chevronlenke {
    text-decoration: none;
}

.decorator-wrapper .chevronlenke:hover {
    text-decoration: underline;
}

.decorator-wrapper .chevronlenke:hover .chevronlenke__chevron {
    left: 0.33em;
}

.decorator-wrapper .chevronlenke__chevron {
    transition: left 250ms;
    top: -1px;
    left: -2px;
}

.decorator-wrapper .chevron--hoyre {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms -webkit-transform;
    transition: 200ms transform;
    transition: 200ms transform, 200ms -webkit-transform;
    vertical-align: middle;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.decorator-wrapper .chevron--hoyre:before, .decorator-wrapper .chevron--hoyre:after {
    transition: 200ms -webkit-transform;
    transition: 200ms transform;
    transition: 200ms transform, 200ms -webkit-transform;
    border-radius: 10px;
}

.decorator-wrapper .chevron--hoyre:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}

.decorator-wrapper .chevron--hoyre:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}

.decorator-wrapper .chevron--hoyre:before {
    -webkit-transform: translateX(2px) rotate(45deg);
    transform: translateX(2px) rotate(45deg);
}

.decorator-wrapper .chevron--hoyre:after {
    -webkit-transform: translateX(-2px) rotate(-45deg);
    transform: translateX(-2px) rotate(-45deg);
}

.decorator-wrapper .typo-undertittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
}
*/