/*.decorator-wrapper .menylinje-knapp {
    background-color: white;
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 2px;
    height: 45px;
    display: flex;
    align-items: center;
    color: #0067C5;
    padding: 4px 12px;
}

.decorator-wrapper .menylinje-knapp__tekst {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
}

.decorator-wrapper .sok-ikon {
    width: 32px;
    height: 24px;
    padding: 0;
    position: relative;
    display: block;
    margin-right: 0.25rem;
}

.decorator-wrapper .sok-ikon__circle {
    border-radius: 50%;
    border: #0067C5 3px solid;
    height: 20px;
    width: 20px;
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: 0.3s all ease-out;
    display: block;
}

.decorator-wrapper .sok-ikon__circle--open {
    opacity: 0;
    -webkit-transform: translate(6px, 2px) scale(0);
    transform: translate(6px, 2px) scale(0);
}

.decorator-wrapper .sok-ikon__line, .decorator-wrapper .sok-ikon__line-x {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate(17.66044443px, 13.96369468px) rotate(40deg);
    transform: translate(17.66044443px, 13.96369468px) rotate(40deg);
    width: 12px;
    height: 3px;
    border: 0;
    background-color: #0067C5;
    position: absolute;
    transition: 0.3s all ease-out;
    border-radius: 1px;
    display: block;
}

.decorator-wrapper .sok-ikon__line--open, .decorator-wrapper .sok-ikon__line-x--open {
    width: 32px;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.decorator-wrapper .sok-ikon__line--open {
    -webkit-transform: translate(-3px, 10.5px) rotate(-135deg) scale(0.8);
    transform: translate(-3px, 10.5px) rotate(-135deg) scale(0.8);
}

.decorator-wrapper .sok-ikon__line-x {
    visibility: hidden;
}

.decorator-wrapper .sok-ikon__line-x--open {
    visibility: visible;
    -webkit-transform: translate(-3px, 10.5px) rotate(-225deg) scale(0.8);
    transform: translate(-3px, 10.5px) rotate(-225deg) scale(0.8);
}
*/

/******************************************************/

/*
.decorator-wrapper .ekspanderbar__container {
    position: absolute;
    width: 100%;
}

.decorator-wrapper .ekspanderbar__innhold-wrapper {
    z-index: 1;
    width: 100%;
    visibility: hidden;
    transition-timing-function: ease-in;
}

.decorator-wrapper .ekspanderbar__innhold-wrapper--active {
    visibility: visible;
    z-index: 1001;
    transition-timing-function: ease-in-out;
}

.decorator-wrapper .ekspanderbar__innhold {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 768px) {
    .decorator-wrapper .ekspanderbar__container {
        max-width: 1440px;
        top: calc(106px - 2px);
        left: 0;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: white;
        transition-duration: 0.4s;
        transition-property: max-height, visibility, opacity;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper--active {
        max-height: 100rem;
        opacity: 1;
        transition-duration: 0.6s;
        transition-property: max-height, visibility;
    }
    .decorator-wrapper .ekspanderbar__innhold {
        padding: 0.5rem 3rem 2rem 3rem;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .decorator-wrapper .ekspanderbar__innhold {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) and (max-height: 880px), (min-width: 768px) and (max-width: 1024px) {
    .decorator-wrapper .ekspanderbar__innhold {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

@media not all and (min-width: 768px) {
    .decorator-wrapper .ekspanderbar__innhold-wrapper {
        position: fixed;
        top: 88px;
        left: -100%;
        height: calc(100% - 88px);
        transition-property: left, visibility;
        transition-duration: 0.25s;
        overflow: auto;
    }
    .decorator-wrapper .ekspanderbar__innhold-wrapper--active {
        left: 0;
        z-index: 1001;
        transition-duration: 0.4s;
    }
    .decorator-wrapper .ekspanderbar__innhold {
        height: 100%;
    }
}

.decorator-wrapper .header-linje .sok-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.decorator-wrapper .header-linje .sok-input-resultat {
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input__tittel {
        margin-bottom: 1rem;
    }
}

@media (min-width: 30em) {
    .decorator-wrapper .typo-systemtittel {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.decorator-wrapper .typo-systemtittel {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

.decorator-wrapper .sok-input-resultat .sok-input-container {
    position: relative;
    display: flex;
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input {
        width: 100%;
    }
}

.decorator-wrapper .skjemaelement {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    position: relative;
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input .skjemaelement__input {
        padding-right: 12rem;
    }
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input input {
        padding: 0.75rem;
        border: 2px solid #0067C5;
    }
}

.decorator-wrapper .skjemaelement__input {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #78706A;
    box-sizing: border-box;
    line-height: 1.375rem;
}

.decorator-wrapper .skjemaelement__input:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #254b6d;
}

.decorator-wrapper .skjemaelement__input:hover {
    border-color: #0067C5;
}

.decorator-wrapper .skjemaelement__input:disabled, .decorator-wrapper .skjemaelement__input[readonly] {
    background-color: #E9E7E7;
    border-color: #78706A;
    box-shadow: none;
    color: #3E3832;
}

.decorator-wrapper .sok-knapper__container {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-knapper__knapp-submit {
        border-radius: 0 5px 5px 0;
        color: white;
        background-color: #0067C5;
    }
    .decorator-wrapper .sok-knapper__knapp-submit .sok-ikon__line {
        background-color: #FFF;
    }
    .decorator-wrapper .sok-knapper__knapp-submit .sok-ikon>* {
        border-color: #FFF;
    }
    .decorator-wrapper .sok-knapper__knapp-submit:active, .decorator-wrapper .sok-knapper__knapp-submit:hover {
        color: white;
        border-color: #0074df;
        background-color: #0074df;
    }
    .decorator-wrapper .sok-knapper__knapp-submit:active .sok-knapper__sok-circle, .decorator-wrapper .sok-knapper__knapp-submit:hover .sok-knapper__sok-circle {
        border-color: white;
    }
    .decorator-wrapper .sok-knapper__knapp-submit:active .sok-knapper__sok-line, .decorator-wrapper .sok-knapper__knapp-submit:hover .sok-knapper__sok-line {
        background-color: white;
    }
    .decorator-wrapper .sok-knapper__knapp-submit:focus .sok-knapper__sok-circle {
        border-color: #0067C5;
    }
    .decorator-wrapper .sok-knapper__knapp-submit:focus .sok-knapper__sok-line {
        background-color: #0067C5;
    }
    .decorator-wrapper .sok-knapper__knapp-tekst {
        margin-left: 0.5em;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1rem;
    }
}

@media (max-width: 767.99px) {
    .decorator-wrapper .sok-knapper__container {
        align-self: center;
        margin-right: 0.5rem;
    }
    .decorator-wrapper .sok-knapper__knapp-submit {
        background-color: transparent;
    }
    .decorator-wrapper .sok-knapper__knapp-submit .sok-knapper__ikon-container {
        bottom: 4px;
    }
    .decorator-wrapper .sok-knapper__knapp-tekst {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        white-space: nowrap;
    }
}

.decorator-wrapper .sok-input-resultat .sok-input-container {
    position: relative;
    display: flex;
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input {
        width: 100%;
    }
    .decorator-wrapper .sok-input-resultat .sok-input__tittel {
        margin-bottom: 1rem;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input {
        padding: 0.75rem;
        border: 2px solid #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input::-ms-clear {
        display: none;
    }
    .decorator-wrapper .sok-input-resultat .sok-input .skjemaelement__input {
        padding-right: 12rem;
    }
    .decorator-wrapper .sok-input-resultat .sok .sok-container {
        width: auto;
        justify-content: center;
        align-items: flex-start;
        z-index: initial;
    }
    .decorator-wrapper .sok-input-resultat .sok .sok-container .sok-ikon {
        position: relative;
        top: 0.35rem;
        right: 2.75rem;
        pointer-events: none;
    }
}

@media (max-width: 767.99px) {
    .decorator-wrapper .sok-input-resultat .sok-input__tittel {
        display: none;
    }
    .decorator-wrapper .sok-input-resultat .sok-input {
        margin-bottom: 0;
        width: 100%;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input {
        border-radius: 50px;
        padding: 1.25rem 1rem;
        background-color: white;
        border: 2px solid #0067C5;
        color: white;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input:focus, .decorator-wrapper .sok-input-resultat .sok-input input:active {
        border: 2px solid #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input::-webkit-input-placeholder, .decorator-wrapper .sok-input-resultat .sok-input input::-moz-placeholder, .decorator-wrapper .sok-input-resultat .sok-input input:-ms-input-placeholder, .decorator-wrapper .sok-input-resultat .sok-input input:-moz-placeholder {
        color: #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input[type='search'] {
        box-sizing: border-box;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input[placeholder] {
        color: #0067C5;
        margin: 0;
        font-size: 1.375rem;
        line-height: 1.625rem;
        font-weight: 300;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input::-webkit-input-placeholder {
        color: #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input:-ms-input-placeholder {
        color: #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input::-ms-input-placeholder {
        color: #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input input::placeholder {
        color: #0067C5;
    }
    .decorator-wrapper .sok-input-resultat .sok-input .skjemaelement__input {
        padding-right: 8.5rem;
    }
}

.decorator-wrapper .sok-knapper__container {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
}

.decorator-wrapper .sok-knapper__knapp {
    display: flex;
    height: 100%;
    background: none;
    align-items: center;
    color: #0067C5;
    padding: 0 1rem;
    font-weight: 600;
    border: 3px solid transparent;
    cursor: pointer;
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-knapper__knapp-submit {
        border-radius: 0 5px 5px 0;
        color: white;
        background-color: #0067C5;
    }
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input .skjemaelement__input {
        padding-right: 12rem;
    }
}

@media (min-width: 768px) {
    .decorator-wrapper .sok-input-resultat .sok-input input {
        padding: 0.75rem;
        border: 2px solid #0067C5;
    }
}

.decorator-wrapper .input--fullbredde {
    width: 100%;
}

.decorator-wrapper button, .decorator-wrapper input {
    overflow: visible;
}

.decorator-wrapper .desktop-sok-dropdown .ekspanderbar__innhold-wrapper {
    width: 700px;
    transition-duration: 0.2s;
}*/