.decorator-wrapper .menylinje-knapp {
    background-color: white;
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 2px;
    height: 45px;
    display: flex;
    align-items: center;
    color: #0067C5;
    padding: 4px 12px;
}

.decorator-wrapper .menylinje-knapp__tekst {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
}

.decorator-wrapper .sok-ikon {
    width: 32px;
    height: 24px;
    padding: 0;
    position: relative;
    display: block;
    margin-right: 0.25rem;
}

.decorator-wrapper .sok-ikon__circle {
    border-radius: 50%;
    border: #0067C5 3px solid;
    height: 20px;
    width: 20px;
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: 0.3s all ease-out;
    display: block;
}

.decorator-wrapper .sok-ikon__line, .decorator-wrapper .sok-ikon__line-x {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate(17.66044443px, 13.96369468px) rotate(40deg);
    transform: translate(17.66044443px, 13.96369468px) rotate(40deg);
    width: 12px;
    height: 3px;
    border: 0;
    background-color: #0067C5;
    position: absolute;
    transition: 0.3s all ease-out;
    border-radius: 1px;
    display: block;
}

.decorator-wrapper .sok-ikon__line-x {
    visibility: hidden;
}