.decorator-wrapper .sticky-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.dynamic-header {
    position: var(--fixed);
    top: var(--headerPosition);
}