.btn-submit {
    margin-top: 1rem;
    text-decoration: none;
    background-color: #0067c5;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 2px 0 #c6c2bf;
    border-color: #0067c5;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1em;
    white-space: nowrap;
    border-radius: .125em;
    user-select: none;
    letter-spacing: .0625em;
    line-height: 1.375rem;
    text-transform: uppercase;
    padding: calc(.475rem - 1px) 2.5rem calc(.525rem - 1px);
    /*måtte endres fra 2.5 til 3.5*/
    min-height: 3.5rem;
    vertical-align: middle;
    border: 2px solid #0067c5;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.typo-systemtittel {
    margin: 0;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}