.decorator-wrapper .menylinje-topp .topp-kolonner .til-toppen-innhold .lenke-med-ikon img {
    fill: white !important;
    stroke: white !important;
}

.decorator-wrapper .menylinje-topp .topp-kolonner .til-toppen-innhold .lenke-med-ikon:hover {
    text-decoration: underline !important;
}

.decorator-wrapper .menylinje-topp .topp-kolonner .til-toppen-innhold .lenke-med-ikon:focus img {
    fill: #0067C5 !important;
    stroke: #0067C5 !important;
}