/*

.midtstill {
    text-align: center !important;
}

.navno-dekorator.typo-innholdstittel {
    margin: 0 !important;
    font-family: "Source Sans Pro", Arial, sans-serif !important;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
}

.kursPanel {
    display: flex;
    padding: 1.25rem 1rem 1.75rem;
    margin: 0 1rem 0.5rem;
    border-bottom: solid 1px #c6c2bf;
    flex-direction: column;
    background-color: #fff;
    display: block;
    border-radius: 4px;
}

.chevron--venstre {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: transform 0.2s;
    vertical-align: middle;
    transform: rotate(-90deg);
}

.typo-sidetittel {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

.app, .typo-sidetittel {
    font-family: Source Sans Pro, Arial, sans-serif;
}


.inline {
    display: flex;
    align-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

*/

/************************************************************************************/

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100vw;
    /*størrelse justert grunnet padding fra elementet over som blokkerer*/
    padding-top: .875rem;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #3e3832;
    background-color: #e9e7e7;
}

@media (min-width: 992px) {
    .detaljside {
        width: unset;
    }
    .detaljside__innhold {
        display: flex;
        flex-direction: row-reverse;
    }
    .omKurset {
        width: 48.5rem;
    }
    .omKurset__panel {
        margin: 0 1rem .5rem;
        padding: 2.75rem 2rem;
    }
    .omKurset__overskrift {
        margin-bottom: 2rem;
    }
}

.detaljside__innhold {
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.detaljside__overskrift {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.detaljside__kurstittel {
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
}

.typo-sidetittel {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@media (min-width: 30em) {
    .typo-sidetittel {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .typo-systemtittel {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.omKurset__panel {
    /*margin-top: 1rem;*/
    padding-bottom: 2.5rem;
}

.panel, .panel--stor {
    background-color: #fff;
    display: block;
    border-radius: 4px;
}

.metainfo__panel {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.typo-systemtittel {
    margin: 0;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 600;
}

.skjema-input {
    font-size: 1rem;
}

.navno-dekorator.alertstripe {
    display: block;
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 4px;
    display: flex;
    align-content: center;
    border-radius: 0.25rem;
    color: #3e3832;
}

.navno-dekorator.alertstripe--advarsel {
    border: 1px solid #ff9100;
    background-color: #ffe9cc;
}

.alertstripe--suksess {
    border: 1px solid #06893A;
    background-color: #cde7d8;
}

.alertstripe--feil {
    border: 1px solid #BA3A26;
    background-color: #f1d8d4;
}

.navno-dekorator.alertstripe__ikon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    top: 1rem;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}

.btn-submit {
    margin-top: 1rem;
    text-decoration: none;
    background-color: #0067c5;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 2px 0 #c6c2bf;
    border-color: #0067c5;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1em;
    white-space: nowrap;
    border-radius: .125em;
    user-select: none;
    letter-spacing: .0625em;
    line-height: 1.375rem;
    text-transform: uppercase;
    padding: calc(.475rem - 1px) 2.5rem calc(.525rem - 1px);
    /*måtte endres fra 2.5 til 3.5*/
    min-height: 3.5rem;
    vertical-align: middle;
    border: 2px solid #0067c5;
}

.btn-submit:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #d2cfcc;
    color: #fff;
    border-color: #0074df;
    background-color: #0074df;
}

.padding-small {
    padding-top: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

.omKurset__tilbakelenke .lenke {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.lenke {
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.omKurset__tilbakelenke {
    margin-top: 2.5rem;
    margin-left: -0.3rem;
}

.chevron--venstre {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: transform 0.2s;
    vertical-align: middle;
    text-decoration: none!important;
    transform: rotate(90deg);
}

.tst {
    color: #0067c5;
    fill: #0067c5;
}

.skjemaelement__label {
    font-weight: 600;
    display: block;
    line-height: 1.4;
    margin-bottom: .5rem;
}

.typo-element, .typo-feilmelding {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.skjemaelement__input {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #78706a;
    box-sizing: border-box;
    line-height: 1.375rem;
}

.input--fullbredde {
    width: 100%;
}

.selectContainer {
    display: inline-block;
}

.selectContainer select {
    padding-right: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
}

.selectContainer:after {
    pointer-events: none;
    content: '';
    background: #3E3832;
    height: 2px;
    width: 10px;
    border-radius: 10px;
    right: 0.75rem;
    top: 50%;
    z-index: 4;
    position: absolute;
    transform: translateX(-3px) rotate(45deg);
}

.selectContainer:before {
    pointer-events: none;
    content: '';
    background: #3E3832;
    height: 2px;
    width: 10px;
    border-radius: 10px;
    right: 0.75rem;
    top: 50%;
    z-index: 4;
    position: absolute;
    transform: translateX(3px) rotate(-45deg);
}

.selectContainer, .textarea__container {
    position: relative;
}

.typo-etikett-liten, .typo-normal {
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}