.navno-dekorator.alertstripe {
  display: block !important;
  padding: 1rem 1rem 1rem 1rem !important;
  border-radius: 4px !important;
  display: flex !important;
  align-content: center !important;
  border-radius: 0.25rem !important;
  color: #3e3832 !important;
}

.navno-dekorator.alertstripe--advarsel {
  border: 1px solid #ff9100 !important;
  background-color: #ffe9cc !important;
}

.navno-dekorator.alertstripe__ikon {
  margin-right: 0.75rem !important;
  display: flex !important;
  top: 1rem !important;
  flex-shrink: 0 !important;
}

.midtstill {
  text-align: center !important;
}

.navno-dekorator.typo-sidetittel {
  margin: 0 !important;
  font-family: "Source Sans Pro", Arial, sans-serif !important;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  font-weight: 600 !important;
}

.navno-dekorator.typo-innholdstittel {
  margin: 0 !important;
  font-family: "Source Sans Pro", Arial, sans-serif !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

.kursPanel {
  display: flex;
  padding: 1.25rem 1rem 1.75rem;
  margin: 0 1rem 0.5rem;
  border-bottom: solid 1px #c6c2bf;
  flex-direction: column;
  background-color: #fff;
  display: block;
  border-radius: 4px;
}

.chevron--venstre {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: transform 0.2s;
  vertical-align: middle;
  transform: rotate(-90deg);
}

.app {
  /*display: flex; */
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100vw;
  padding-top: 2.5rem;
}

.typo-sidetittel {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.app,
.typo-sidetittel {
  font-family: Source Sans Pro, Arial, sans-serif;
}

.omKurset__tilbakelenke {
  margin-top: 2.5rem;
  margin-left: -0.3rem;
}

.omKurset__tilbakelenke .chevronboks {
  margin-right: 0.5rem;
  transform: translateY(1px) rotate(270deg);
}

.chevron--venstre {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: transform 0.2s;
  vertical-align: middle;
  transform: rotate(-90deg);
}

.omKurset__tilbakelenke .lenke {
  display: flex;
  align-items: center;
}

.lenke {
  color: #0067c5;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
